<!-- <li>{{instrument.name}}</li>
<li>{{instrument.price}}</li>
<li>{{instrument.condition}}</li>
<li>{{instrument.category}}</li>
<img src={{instrument.image}}>
 -->

{{#md-card title=instrument.name
  image=instrument.image
  activator=true
  class='card-reveal'}}

  {{#md-card-reveal}}
    {{instrument.price}}<br>
    Condition: {{instrument.condition}}<br>
    {{instrument.category}}<br>
    {{instrument.description}}
  {{/md-card-reveal}}
  {{/md-card}}

<ul>
  {{#each instrument.feedbacks as |feedback|}}
    <li>{{feedback.title}}</li>
    <li>{{feedback.content}}</li>
  {{/each}}
</ul>

  <button class="btn" {{action 'delete' instrument}}>Delete</button>
  <button class='btn' {{action 'addToCart' instrument}}>Add to Cart</button>
  {{update-instrument instrument=instrument update='update'}}
  {{new-feedback instrument=instrument saveFeedback="saveFeedback"}}
