<li>{{instrument.name}}</li>
<li>{{instrument.price}}</li>
<li>{{instrument.condition}}</li>
<li>{{instrument.category}}</li>
<img src={{instrument.image}}>
<button {{action 'delete' instrument}}>Delete</button>


<!-- {{#md-card title='gretsch hollow body'
  image='/img/hollow-body.png'
  activator=true
  id='card-reveal'}}

  {{#md-card-reveal}}
    The elegant tone quality and design of this guitar will bring real satisfaction of ownership to the most critical player. A truly outstanding acoustic/electric, the A-150 Savoy is a pleasure to see and hear, pairing a wonderfully free-playing late-1950s Guild orchestra model with the distinctive addition of an exceptionally voiced DeArmond 1000 floating pickup. The welcome return of a true Guild classic.
  {{/md-card-reveal}}

  {{/md-card}} -->
