{{#if newFeedbackForm}}
<form>
  <div class="form-group">
    <label for="title">Feedback Title</label>
    {{input value=title id="title"}}
  </div>
  <div class="form-group">
    <label for="content">Feedback</label>
    {{input value=content id="content"}}
  </div>
  <a class="btn" {{action 'saveFeedback' instrument}}>Save Feedback</a>
</form>
{{else}}
  <a class="btn" {{action 'feedbackForm'}}>Give Feedback</a>
{{/if}}
